body{
    padding: 20px;
    background-color: #02EC97;
}

h1{
    color: #272727;
    text-align: center;
    font-size: 3.125rem;
    font-family: "Press Start 2P";
    font-weight: 400;
}

.Sponsorflex{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    max-width: 500px;
}

.logo{
    width: 15rem;
}