
body{
    padding: 20px;
    background-color: #02EC97;
}

.sponsor{
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h1{
    color: #090404;
    text-align: center;
    font-size: 3.125rem;
    font-family: "Press Start 2P";
    font-weight: 400;
}

.Sponsorflex{
    display: flex;
      /*flex-wrap: nowrap;*/ /* Default behavior */
    flex-wrap: wrap; /* Uncomment this line to make items wrap */
      /* flex-wrap: wrap-reverse; */ /* Uncomment this line to make items wrap in reverse order */
    justify-content: center;
    align-items: center;
    max-width: 100%; 

}

.logo{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 10px;
}

.logo img{
    width: 100%;
    height: auto;
    max-width: 300px;
}