/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  /* color: #272829; */
  color: #a1fd56;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0563bb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #06ff44;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #06ff44;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@media (max-width:991px){
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
  /* padding-top: 65%; */
}
}
@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
@media (max-width:991px){
#header{
  height: 100dvh;
}
.navbar {
  padding: 0;
  display: block;
  align-items: center;
  justify-content: center;
}

.navbar * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar > ul > li {
  position: relative;
  white-space: nowrap;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 20px;
}

.navbar a span,
.navbar a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

.navbar a:hover,
.navbar .active,
.navbar.active:focus,
.navbar li:hover > a {
  color: #fff;
  background: #06ff44;
}

.navbar a:hover span,
.navbar .active span,
.navbar .active:focus span,
.navbar li:hover > a span {
  color: #fff;
}

.navbar a:hover,
.navbar li:hover > a {
  width: 100%;
  color: #fff;
}

.navbar a:hover span,
.navbar li:hover > a span {
  display: block;
}
}
@media (min-width: 1500px) {
  #header{
    /* padding-left: 0.1%;
    padding-right: 12%; */
    margin-top: 0%;
    margin-bottom: 35%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
  }
  .navbar{
    background: #021327c4;
    top: 15px;
    height: 80px;
    width: fit-content;
    border-radius: 25px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
  }
  .navbar ul{
    float: right;
    height: 100%;
    /* margin-right: 20px; */
  }
  .navbar ul li{
    display: inline-block;
    height: 100%;
    align-items: center;
    justify-content: center;
    line-height: 55px;
    margin: 0 5px;
  }
  .navbar ul li a {
    color: white;
    font-size: 18px;
    padding: 5px 50px;
    border-radius: 3px;
    text-transform: uppercase;
    height: 100%;
  }
  .navbar ul li i {
    visibility: hidden;
  }
}
@media (1387px< width <1500px) {
  #header{
    padding-left: 0.1%;
    padding-right: 5%;
    margin-top: 0%;
    margin-bottom: 40%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar{
    background: #021327c4;
    position: relative;
    top: 100px;
    height: 70px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
  }
  .navbar ul{
    /* float: right; */
    height: 100%;
    /* margin-right: 20px; */
  }
  .navbar ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }
  .navbar ul li a {
    color: white;
    font-size: 18px;
    padding: 3px 23px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .navbar ul li i {
    visibility: hidden;
  }
}
@media (1234px< width <1388px) {
  #header{
    padding-left: 0.1%;
    padding-right: 5%;
    margin-top: 0%;
    margin-bottom: 40%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .navbar{
    background: #021327c4;
    top: 0;
    height: 70px;
    width: 100%;
    border-radius: 25px;
  }
  .navbar ul{
    float: right;
    margin-right: 20px;
  }
  .navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  .navbar ul li a {
    color: white;
    font-size: 18px;
    padding: 3px 26px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .navbar ul li i {
    visibility: hidden;
  }
}

@media (991px< width < 1235px) {
  #header{
    padding-left: 0.1%;
    padding-right: 3%;
    margin-top: 0%;
    margin-bottom: 50%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  .navbar{
    background: #021327c4;
    top: 65px;
    height: 70px;
    width: fit-content;
    border-radius: 25px;
  }
  .navbar ul{
    float: right;
    /* margin-right: 20px; */
  }
  .navbar ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
  }
  .navbar ul li a {
    color: white;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .navbar ul li i {
    visibility: hidden;
  }
}


/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #06ff44;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: top right no-repeat;
  background-size: cover;
  position: relative;
}
.hero-clip {
  position: absolute;
  /* width:100vw; */
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 17/9) {
  .hero-clip {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 17/9) {
  .hero-clip {
    width: auto;
    height: 100%;
  }
}
@media (min-width: 992px) {
  /* #hero {
    padding-left: 160px;
  } */
}
@media (max-width: 425px) {
  .hero-clip {
    aspect-ratio: 1.74;
  }
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.233);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .logobefore{
  font-size: 25px;
  padding-top: 0%;
  padding-bottom: 30%;
  padding-right: 50%;
  position: absolute;
}
#hero .hacklogo{
  width: 90%;
  height: 90%;
  margin-top: 0%;
  padding-right: 60%;
  margin-bottom: 50%;
}
#hero .herologo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
#hero .herobutton{
  display: flex;
  margin-right: 40%;
  margin-bottom: 25%;
  position: absolute;
  border-radius: 10px;
}
#hero .herobutton:hover{
  background-color:  #06ff44;
}

#hero p {
  color: #fff;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #06ff44;
  letter-spacing: 1px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #0563bb;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #06ff44;
}

@media (426px< width <992px) {
  #hero {
    text-align: left;
  }
  #hero .logobefore{
    font-size: 25px;
    padding-top: 60%;
    padding-right: 0%;
    margin-left: 0%;
    position: absolute;
  }
  #hero .hacklogo{
    width: 100%;
    height: 100%;
    margin-top: 40%;
    padding-right: 50%;
  }
  #hero .herologo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  #hero .herobutton{
    display: flex;
    margin-right: 20%;
    margin-top: 70%;
    position: absolute;
    border-radius: 10px;
  }
  
}
@media (max-width: 425px) {
  #hero {
    text-align: left;
  }
  #hero .logobefore{
    font-size: 15px;
    margin-left: 40%;
    padding-top: 80%;
    padding-right: 0%;
    position: absolute;
  }
  #hero .hacklogo{
    width: 100%;
    height: 100%;
    margin-top: 40%;
    padding-right: 10%;
  }
  #hero .herologo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
  }
  #hero .herobutton{
    display: flex;
    margin-left: 70%;
    margin-top: 110%;
    position: absolute;
    border-radius: 10px;
  }
}  

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: rgb(21, 128, 0);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #06ff44;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/* h1 {
  color: white;
  size: 10vw;
} */
.About-head h3 {
  width: fit-content;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: visible;
  animation: typing 4s steps(22, end) forwards, blink 8s infinite alternate;
}
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* @keyframes blink {
  0%,
  100% {
    border-right: 2px solid transparent;
  }
  50% {
    border-right: 2px solid #fff;
  }
} */
.About-head h6 {
  width: fit-content;
  font-weight: 500;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(22, end) forwards, blink 8s infinite alternate;
}

.About-content{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 426px) {
  .About-head h3{
    font-size: 1.5rem;
    padding: 0 0 10px;
  }
  .About-head h6{
    width: 90dvw;
    font-size: 1rem;
    text-align: justify;
  }
  .About-content{
    font-size: 1rem;
    text-align: justify;
  }
}

.whats-new-row{
  width: 100dvw;
  padding: 30px 20px;
}

.whats-new{
  background-color: #125a22;
  border-radius: 10px;
  padding: 20px 15px 10px;
  height: 65dvh;
  overflow-wrap: hidden;
}

.whats-new i{
  position: relative;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  background: #026807;
  color: #ffffff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.whats-new-head{
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-weight: bolder;
}

.whats-new-body{
  color: #fff;
  font-size: 1rem;
  text-align: justify;
}


@media screen and (max-width:768px){
  .whats-new{
    height: fit-content;
  }
}


.wrapper span {
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  background-color: #068d28;
  box-shadow: 0 0 50px #107407, 0 0 100px #198802, 0 0 150px #026807,
    0 0 200px #00501b;
  animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1) {
  left: 90%;
  animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
  left: 85%;
  animation-delay: 8s;
  width: 60px;
  height: 60px;
}
.wrapper span:nth-child(3) {
  left: 10%;
  animation-delay: 2s;
}
.wrapper span:nth-child(4) {
  left: 90%;
  animation-delay: 6s;
  width: 80px;
  height: 80px;
}
.wrapper span:nth-child(5) {
  left: 5%;
  animation-delay: 0.2s;
}
.wrapper span:nth-child(6) {
  left: 85%;
  animation-delay: 0.9s;
}
.wrapper span:nth-child(7) {
  left: 950%;
  animation-delay: 4s;
  width: 100px;
  height: 100px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
/* 
.about .content h3 {
  font-weight: bolder;
  font-size: 6vw;
  color: #fdfdfd;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #06ff44;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .count-box {
  height: 62dvh;
  width: 25dvw;
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.about .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #03f817;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.about.count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.heading {
  color: black;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #0563bb;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}

.facts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0563bb;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .section-title h2 {
  color: rgb(21, 128, 0);
  font-size: 42px;
}
.resume .resume-title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 23px;
  line-height: 22px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.993);
  margin: 10px 0;
  overflow: hidden;
  animation: typing 5s linear forwards;
}
@keyframes typing {
  60% {
    left: 0%;
    margin: 0-50px 0 35px;
  }
}
.resume .resume-item h5 {
  font-size: 18px;
  background: #02ec97;
  color: rgba(0, 0, 0, 0.993);
  display: inline-block;
  font-weight: 650;
  font-family: "Poppins", sans-serif;
  /* margin-bottom: 10px; */
}
.resume .resume-item:last-child {
  padding-bottom: 10px;
}
.resume .timeline {
  contain: "";
  position: relative;
  max-width: 1200px;
}
.resume .timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100px;
  background: #02ec97;
  top: 0%;
  left: 28%;
  z-index: 2;
  margin-left: -10px;
  animation: name 5s linear forwards;
}
@keyframes name {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.resume .timeline::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  top: -3px;
  z-index: 2;
  background: #02ec97;
  border: 0.1px solid #ffffff;
}
.resume .resume-container {
  padding: 10px 25px;
  /* background: #FFFFFF; */
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.resume .resume-container:nth-child(1) {
  animation-delay: 0s;
}
.resume .resume-container:nth-child(2) {
  animation-delay: 1s;
}
.resume .resume-container:nth-child(3) {
  animation-delay: 2s;
}
.resume .resume-container:nth-child(4) {
  animation-delay: 3s;
}
.resume .resume-container:nth-child(5) {
  animation-delay: 4s;
}
.resume .resume-container:nth-child(6) {
  animation-delay: 5s;
}
.resume .resume-container:nth-child(7) {
  animation-delay: 6s;
}
.resume .text-box {
  padding: 20px 30px;
  background: #02ec97;
  position: relative;
  border-radius: 6px;
  left: 60%;
}
@media (min-width: 1400px) {
  .resume .timeline::before {
    left: 26.75%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .resume .timeline::before {
    left: 26.5%;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .resume .timeline::before {
    left: 26.25%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .resume .timeline::before {
    left: 25.75%;
  }
}
@media (min-width: 555px) and (max-width: 767px) {
  .resume .timeline::before {
    left: 25%;
  }
  .resume .text-box {
    width: 225px;
  }
}
@media (min-width: 515px) and (max-width: 554px) {
  .resume .timeline::before {
    left: 24.75%;
  }
  .resume .text-box {
    width: 225px;
  }
}
@media (min-width: 448px) and (max-width: 514px) {
  .resume .timeline::before {
    left: 24.6%;
  }
  .resume .text-box {
    width: 225px;
  }
}
@media (min-width: 425px) and (max-width: 447px) {
  .resume .timeline::before {
    left: 24%;
  }
  .resume .text-box {
    width: 225px;
  }
}
@media (min-width: 400px) and (max-width: 424px) {
  .resume .timeline::before {
    left: 16%;
  }
  .resume .timeline::after {
    left: 20%;
  }
  .resume .text-box {
    left: 50%;
    width: 225px;
  }
}
@media (min-width: 375px) and (max-width: 399px) {
  .resume .timeline::before {
    left: 15.75%;
  }
  .resume .timeline::after {
    left: 20%;
  }
  .resume .text-box {
    left: 50%;
    width: 225px;
  }
}
@media (min-width: 347px) and (max-width: 374px) {
  .resume .timeline::before {
    left: 15.4%;
  }
  .resume .timeline::after {
    left: 20%;
  }
  .resume .text-box {
    left: 50%;
    width: 225px;
  }
}
@media (min-width: 320px) and (max-width: 346px) {
  .resume .timeline::before {
    left: 15%;
  }
  .resume .timeline::after {
    left: 20%;
  }
  .resume .text-box {
    left: 40%;
    width: 225px;
  }
}
@media (max-width: 319px) {
  .resume .timeline::before {
    left: 14.25%;
  }
  .resume .timeline::after {
    left: 20%;
  }
  .resume .text-box {
    left: 40%;
    width: 175px;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #0563bb;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0563bb;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #0563bb;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(69, 80, 91, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/* ----------------------------------------------------- 
#Tracks
-------------------------------------------------------*/

.Tracks {
  height: 100vh;
  margin-bottom: 20px;
  transform: scale(1);
  transition-duration: 150ms;

  /* background: #212f2d; */
}
.theme {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 83%;
  height: 70%;
  width: 23vh;
  height: 30vh;
  position: relative;
}

.heading {
  display: none;
}

.card {
  width: 23vh;
  height: 30vh;
  background: #faf1f6;
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #02ec97;
}

.card-info {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card h3,
.card h2 {
  font-weight: bold;
  font-size: 3vh;
  cursor: default;
}
#c1 {
  z-index: 3;
  box-shadow: 0 10px 50px #23232333;
  transition: box-shadow 0.3s ease-in-out 0.3s;
  transition: background 0s ease-in-out 0s;
}
#c2,
#c3,
#c4,
#c5 {
  z-index: 1;
}
#c2 {
  transition-property: transform;
  transition-delay: 0.3s;
  transition-duration: 0.3s;
  margin-right: 3px;
}
#c3 {
  transition-property: transform;
  transition-delay: 0.3s;
  transition-duration: 0.3s;
  margin-left: 3px;
}
#c4 {
  transition-property: transform;
  transition-delay: 0.3s;
  transition-duration: 0.6s;
  margin-right: 3px;
}
#c5 {
  transition-property: transform;
  transition-delay: 0.3s;
  transition-duration: 0.6s;
  margin-left: 3px;
}

.card:hover .card {
  scale: 2px 2px;
}

.main:hover #c1 {
  transform: translateX(0px);
  box-shadow: 0 5px 30px #06ff44;
  background: radial-gradient(#d9d9d9, #04b22f 90%);
  /* background: radial-gradient(180deg, #04b22f 0%, #d9d9d9 100%); */
}

.main:hover #c2 {
  transform: translateX(24vh);
}

.main:hover #c3 {
  transform: translateX(-24vh);
}

.main:hover #c4 {
  transform: translateX(48vh);
}

.main:hover #c5 {
  transform: translateX(-48vh);
}

@media screen and (max-width: 768px) {
  .main:hover #c1,
  .main:hover #c2,
  .main:hover #c3,
  .main:hover #c4,
  .main:hover #c5 {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  .Tracks {
    display: block;
  }
  .theme {
    margin-top: 0;
  }
  .main {
    height: 75vh;
    width: 100vw;
    display: grid;
    place-items: center;
  }

  #c1 {
    display: none;
  }
  .cards {
    width: 41vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    overflow: visible;
  }
  .card {
    width: 20vh;
    height: 25vh;
    position: unset;
  }
}

/* -----------------------------------------------------------
#Prize Pool
------------------------------------------------------------- */
.prize-main {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.prize-card {
  width: 77vw;
  height: 55vh;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  overflow: visible;
}

.prize-card .item {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    136deg,
    rgba(0, 188, 119, 0.803) 0%,
    rgba(2, 236, 150, 0.541) 67.5%
  );
  backdrop-filter: blur(51.5px);
}

.item h4,
.item p {
  font-weight: bold;
  margin: 0;
  padding: 10px;
  cursor: default;
}
@media screen and (max-width:425px) {
  .item h4,
  .item p {
    font-weight: 600;
  }
}

.item h4 {
  font-size: 3.2vh;
}
.item p {
  font-size: 2.5vh;
}

.item:hover {
  transform: scale(0.95);
  transition: all 0.3s;
}

.item svg {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
}

.item--1 {
  background: #c7c7ff;
}

.item--2 {
  background: #ffd8be;
}

.item--3 {
  background: #a9ecbf;
}

.item--4 {
  background: #f3bbe1;
}

.quantity {
  font-size: 25px;
  font-weight: 600;
}

.text {
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
}

.text--1 {
  color: rgba(149, 149, 255, 1);
}

.text--2 {
  color: rgba(252, 161, 71, 1);
}

.text--3 {
  color: rgba(66, 193, 110, 1);
}

.text--4 {
  color: rgba(220, 91, 183, 1);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.Services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.Services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.Services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.Services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.Services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.Services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.Services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.Services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.Services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.Services .iconbox-blue i {
  color: #47aeff;
}

.Services .iconbox-blue:hover .icon i {
  color: #fff;
}

.Services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.Services .iconbox-orange i {
  color: #ffa76e;
}

.Services .iconbox-orange:hover .icon i {
  color: #fff;
}

.Services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.Services .iconbox-pink i {
  color: #e80368;
}

.Services .iconbox-pink:hover .icon i {
  color: #fff;
}

.Services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.Services .iconbox-yellow i {
  color: #ffbb2c;
}

.Services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.Services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.Services .iconbox-red i {
  color: #ff5828;
}

.Services .iconbox-red:hover .icon i {
  color: #fff;
}

.Services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.Services .iconbox-teal i {
  color: #11dbcf;
}

.Services .iconbox-teal:hover .icon i {
  color: #fff;
}

.Services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Sponsors
--------------------------------------------------------------*/
.sponsors .section-header {
  margin-bottom: 40px;
}

.sponsors .sponsors-carousel,
.sponsors .sponsors-slider {
  overflow: hidden;
}

.sponsors .sponsor-item {
  text-align: center;
}

.sponsors .sponsor-item .sponsor-img {
  width: 280px;
  border: 4px solid #fff;
  margin: 0 auto;
  opacity: 1;
  transform: scale(1);
  transition-duration: 150ms;
}
.sponsors .sponsor-item img:hover {
  opacity: 1;
  transform: scale(1.1);
  transition-duration: 150ms;
}

.sponsors .sponsor-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.sponsors .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.sponsors .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0563bb;
}

.sponsors .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0563bb;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #0563bb;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input[type="text"],
.contact .php-email-form input[type="email"] {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #0563bb;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0678e3;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-top h2 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: rgb(21, 128, 0);
}
#footer {
  /* background: #f7f8f9; */
  color: #004211;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  padding: 30px 0;
}
#footer .footer-top h2 {
  border-bottom: 2px solid #06ff44;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #000000;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #00ff15;
  color: #000000;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}
